/* Loader overlay for MediaCleaner */
.media-cleaner-loader-overlay-portal {
  position: relative;
  z-index: 1000000000000000000;
}

.media-cleaner-loader-overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-cleaner-loader-inner {
  position: relative;
  width: 400px;
  height: 400px;
  background: #000;
  filter: blur(10px) contrast(20);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-cleaner-loader-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.media-cleaner-loader-spinner .blob-1,
.media-cleaner-loader-spinner .blob-2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-cleaner-loader-spinner .blob-1 {
  left: 20%;
  animation: media-cleaner-osc-l 2.5s ease infinite;
}

.media-cleaner-loader-spinner .blob-2 {
  left: 80%;
  animation: media-cleaner-osc-r 2.5s ease infinite;
  background: #0ff;
}

@keyframes media-cleaner-osc-l {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}
@keyframes media-cleaner-osc-r {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}

/* Temporarily apply a loader effect to the body when .media-cleaner-loader-active is present */
body.media-cleaner-loader-active {
  pointer-events: none;
  cursor: wait;
  position: relative;
}

body.media-cleaner-loader-active:before {
  content: "Please do not refresh the page!";
  color: white;
  font-size: 15px;
  font-style: italic;
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 15%;
  left: 0;
  right: 0;
  background: none;
  pointer-events: none;
}

body.media-cleaner-loader-active:after {
  content: "";
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body.media-cleaner-loader-active #wpcontent {
  filter: blur(4px);
  opacity: 0.5;
  position: fixed;
  top: 0;
}
body.media-cleaner-loader-active #adminmenumain {
  filter: blur(4px);
  opacity: 0.5;
  background: #000;
  position: fixed;
  top: 0;
}

body.media-cleaner-loader-active #adminmenumain {
  background: #000;
}
