.accordion {
  .accordion-item {
    max-width: 69rem;
    padding: 2.4rem 2.4rem 2.4rem 2rem;
    background: #f4f4f4;
    margin-bottom: 2rem;
    .accordion-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3{
        font-size: 1.6rem;
        font-weight: 500;
      }

    }
  }
}
