@use "../partials/variables";

.xdebug-var-dump {
  text-align: left;
  background: white;
  padding: 10px;
  border: 5px solid blueviolet;
}

.content-block {
  padding-top: 5.2rem;
  padding-bottom: 2.8rem;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
      font-family: variables.$primaryFont;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
