@use "../partials/variables";

.xdebug-var-dump {
  text-align: left;
  background: white;
  padding: 10px;
  border: 5px solid blueviolet;
}

.content-block {
  padding-top: 4rem;  
  padding-bottom: 2.8rem;
  &--light-mode {
    color: #fff;
  }
  &--dark-mode {
    color: #000;
  }
  .content-block__inner {
    &.content-block__inner--light-mode {
      color: #fff;
    }
    &.content-block__inner--dark-mode {
      color: #000;
    }

    gap: 1rem;



    .content-block__content {
      &.content-block__content--light-mode *{
        color: #fff;

        .button-rmc {
          color: #fff;
    
        }
      }
      &.content-block__content--dark-mode *{
        color: #000;

        .button-rmc {
          color: #fff;
    
        }
      }
    }
    h1 {
      font-size: 2rem;
      font-weight: 600;
      // color: #fff;
      font-family: variables.$primaryFont;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      font-family: variables.$primaryFont;
      margin-top: 2rem;
      margin-bottom: 1rem;
      
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      font-family: variables.$primaryFont;
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      line-height: 1.6;
    }
    ul {
      margin: 0 0 1rem 0;
      padding-left: 2rem;
      list-style-type: disc;
      
      // Increase spacing when ul is followed by a heading
      & + h1,
      & + h2,
      & + h3 {
        margin-top: 2.5rem;
      }
      
      li {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 0.5rem;
        
        strong {
          font-weight: 600;
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a{
      font-family: variables.$primaryFont;
      font-size: 12px;
      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }
    .button-rmc {
      padding: 12px 16px;
      display: inline-block;
      gap: 10px;
      border-radius: 19.5px;
      background: #635bff;
      box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.35);
      color: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
    }
  }
}

// Global styles for container, section, etc. (used outside content-block)
.general-container,
.mediacleaner-container {
  .container {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  
  .section {
    margin-bottom: 2rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .section-content {
    margin-top: 1rem;
  }
  
  .usage {
    margin-top: 1rem;
  }
  
  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: variables.$primaryFont;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: variables.$primaryFont;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  ul {
    margin: 0 0 1rem 0;
    padding-left: 2rem;
    list-style-type: disc;
    
    // Increase spacing when ul is followed by a heading
    & + h1,
    & + h2,
    & + h3 {
      margin-top: 2.5rem;
    }
    
    li {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 0.5rem;
      
      strong {
        font-weight: 600;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  a {
    font-family: variables.$primaryFont;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }
}
