@use "../partials/variables";

.filter-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3.5rem;
  padding-right: 2.5rem;

  p {
    font-size: 1.3rem;
    color: #ffffff;
  }
  .pagination {
    display: flex;
    padding-left: 2.2rem;

    .filter-pagination__button {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      border: none;
      border-radius: 3px;
      color: #ffffff;
      font-size: 1.6rem;
      background: transparent;
      cursor: pointer;

      &--arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        &-prev {
          transform: rotate(0deg);
          margin-right: 1.2rem;
        }

        &-next {
          transform: rotate(180deg);
          margin-left: 1.2rem;
        }
      }

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      &--active {
        background: rgba(209, 209, 209, 0.24);
      }
    }
  }
}
