@use "../partials/variables";

.stats-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.8rem;

  &-info {
    width: calc(50% - 0.9rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    column-gap: 3.4rem;

    &-items {
      background-color: #3f4668;
      padding: 0rem;
      padding-top: 1rem;
      padding-bottom: 1.4rem;
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      border-radius: 1rem;
      width: calc(50% - 5.1rem);
      display: flex;
      gap: 2rem;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 1.5px;
        background: #d9d9d9;
        height: 80%;
      }

      .stats-container-info-item {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 100%;
        position: relative;

        &-label {
          line-height: 1.2;
          font-size: 1.2rem;
          font-weight: 400;
          color: #fff;
          font-family: variables.$primaryFont;
        }

        &-label {
          line-height: 1.2;
          font-size: 1.2rem;
          font-weight: 400;
          color: #fff;
          font-family: variables.$primaryFont;
        }

        &-value {
          padding-top: 0.4rem;
          line-height: 1.2;
          font-size: 2.4rem;
          font-weight: 600;
          color: #fff;
          font-family: variables.$primaryFont;
        }
      }
    }

    &-sync {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;

      background-color: #41444f;
      border-radius: 1rem;
      padding-top: 1.7rem;
      padding-bottom: 1.9rem;
      padding-left: 1.7rem;
      padding-right: 2rem;

      &-action {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        flex: 1;

        .stats-container-info-sync-action-button {
          background-color: #635bff;
          border: none;
          border-radius: 5rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 1.6rem;
          padding-right: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          line-height: 1;
          font-size: 1.2rem;
          font-weight: 400;
          color: #fff;
          text-transform: capitalize;
          cursor: pointer;
          font-family: variables.$primaryFont;

          img {
            width: 1.6rem;
            height: 1.6rem;
            padding-right: 0.8rem;
          }
        }
      }
      &-status {
        display: flex;
        gap: 0.4rem;
        width: 100%;
        flex: 1;
        position: relative;
        align-items: center;
        justify-content: flex-end;

        &-label {
          font-size: 1.2rem;
          font-weight: 600;
          color: #fff;
          font-family: variables.$primaryFont;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            padding-right: 0.5rem;
            width: 1.3rem;
            height: 1.3rem;
          }
        }
        &-value {
          font-size: 1.2rem;
          font-weight: 600;
          color: #fff;
          font-family: variables.$primaryFont;
        }
      }
    }
  }

  &-breakdown {
    width: calc(50% - 7.9rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #41444f;
    border-radius: 1rem;
    padding-top: 2.2rem;
    padding-bottom: 2.9rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    span {
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff;
      padding-bottom: 2.3rem;
      font-family: variables.$primaryFont;
    }
    .stats-container-breakdown-graph {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 100%;

      .stats-container-breakdown-graph-bar {
        display: flex;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        .stats-container-breakdown-graph-item {
          display: flex;
          height: 5.2rem;

          &:nth-child(1) {
            background-color: #6475ed;
          }
          &:nth-child(2) {
            background-color: #0096c4;
          }

          &:nth-child(3) {
            background-color: #00904a;
          }

          &:nth-child(4) {
            background-color: #d98d00;
          }

          &:nth-child(5) {
            background-color: #cb0066;
          }

          &:nth-child(6) {
            background-color: #6475ed;
          }

          &:nth-child(7) {
            background-color: #0096c4;
          }

          &:nth-child(8) {
            background-color: #00904a;
          }

          &:nth-child(9) {
            background-color: #d98d00;
          }

          &:nth-child(10) {
            background-color: #cb0066;
          }
        }
      }

      .stats-container-breakdown-graph-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding-top: 1rem;

        .stats-container-breakdown-graph-item-label {
          font-size: 1.6rem;
          font-weight: 400;
          color: #fff;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
          font-family: variables.$primaryFont;
          &:before {
            border-radius: 10pc;
            content: "";
            position: relative;
            width: 10px;
            height: 10px;
            background-color: #ffffff2b;
            margin-right: 0.5rem;
          }

          &:nth-child(1) {
            &:before {
              background-color: #6475ed;
            }
          }
          &:nth-child(2) {
            &:before {
              background-color: #0096c4;
            }
          }

          &:nth-child(3) {
            &:before {
              background-color: #00904a;
            }
          }

          &:nth-child(4) {
            &:before {
              background-color: #d98d00;
            }
          }

          &:nth-child(5) {
            &:before {
              background-color: #cb0066;
            }
          }

          &:nth-child(6) {
            &:before {
              background-color: #6475ed;
            }
          }

          &:nth-child(7) {
            &:before {
              background-color: #0096c4;
            }
          }

          &:nth-child(8) {
            &:before {
              background-color: #00904a;
            }
          }

          &:nth-child(9) {
            &:before {
              background-color: #d98d00;
            }
          }

          &:nth-child(10) {
            &:before {
              background-color: #cb0066;
            }
          }
        }
      }
    }
  }
}
