.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 0 0;
  box-shadow: 17px 7px 17px -15px rgb(66, 68, 90);
  height: 80px;
  margin-bottom: 4.5rem;

  &--dark {
    .top-nav-right {
      a {
        color: #565758;
      }
    }
  }

  &-left {
    padding-right: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 1rem;
      width: calc(100% - 2rem);
      height: 4px;
      background-color: #d9d9d9;
    }

    a {
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 1.5rem;
      position: relative;
      font-size: 1.5rem;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
      opacity: 0.75;

      &.active {
        opacity: 1;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: calc(100% - 1rem);
          height: 4px;
          background-color: #6475ed;
          border-radius: 2px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 4px;
        background-color: #6475ed;
        border-radius: 2px;
        transition: width 0.3s ease-in-out;
      }

      &:hover {
        opacity: 1;
        &::after {
          width: calc(100% - 1rem);
        }
      }
    }
  }
}
